Example/MNkSliderEffectCollectionViewLayout.xcodeproj/xcuserdata/malithkamburapola.xcuserdatad/xcschemes/xcschememanagement.plist
Example/MNkSliderEffectCollectionViewLayout.xcworkspace/xcuserdata/malithkamburapola.xcuserdatad/UserInterfaceState.xcuserstate
Example/Pods/Pods.xcodeproj/xcuserdata/malithkamburapola.xcuserdatad/xcschemes/xcschememanagement.plist
